.containter {
  display: flex;
  flex-direction: column;
}

.add-task {
  display: flex;
  justify-content: right;
}

.task-form {
  display: flex;
  flex-direction: column;
}
.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  width: 100%; /* Ensures the form field takes up the full width of its container */
  max-width: 500px; /* Sets a maximum width */
}
